.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 2rem;
  background-color: hsl(210, 29%, 24%);
  color: white;
  width: 100vw ;
  height: 15vh;
  box-sizing: border-box;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav a {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}